
.normal {
  text-align: left;
  position:absolute;
  width: 100%;
  top:0;
}

.pagination{
  position:fixed;
  bottom:0.2rem;
  right:0.2rem;
  background: #e3e3e3;
}

.text{
  margin: 0.18rem;
}

.title{
  margin: 0.18rem;
}

.font{
  display:inline-flex;
  width:0.5rem;
  height:0.5rem;
  border: 5px solid #ffffff;

}




.color{
  display:inline-flex;
  width:0.5rem;
  height:0.5rem;
  border-radius:0.5rem;
  border: 5px solid #e3e3e3;
}
